{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_key }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ google_analytics_key }}');
</script>
   
    {% include "components/LoginStyles.html" %}
    {% block extrastyle %}
    {% endblock extrastyle %}
    
</head>

<body class="login no-js login-action-login wp-core-ui  locale-de-de">


{% block content %}
{% endblock content %}


{% include "components/LoginJavaScripts.html" %}
{% block javascriptblock %}	
{% endblock javascriptblock %}

</body>
</html>
