{% extends "layout/BaseLayout.html" %}
{% load static %}
{% block content %}
<!-- Page Title with Backgraound -->
<div class="page-title-bg" style="background-image:url('main/images/page-title-bg.jpg')">
    <div class="page-title-overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <h1 class="page-title">Avocado de Verdura</h1>
        </div>
    </div>
</div>
<!-- BreadCrumb -->
<div class="header-breadcrumb ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Avocado de Verdura</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Single Blog Post -->
<div class="blog-single pd-top-80 pd-bottom-80">
    <div class="container">
        <div class="row">
            <!-- Recipe Ingredient -->
            <div class="col-lg-9 col-md-8 col-sm-7">
                <div
                    class="recipe-single-content post-165 redchili_recipes type-redchili_recipes status-publish has-post-thumbnail hentry tag-chicken tag-spicy">
                    <div class="recipe-single-meta">
                        <div class="recipe-author">
                            <div class="recipe-author-pic">
                                <img alt='' src='avatar/1431295d8451268cfb378af0705580f6_s_30_d_mm_r_g.jpg'
                                    srcset='avatar/1431295d8451268cfb378af0705580f6_s_60_d_mm_r_g.jpg 2x'
                                    class='avatar avatar-30 photo' height='30' width='30' /> </div>
                            <div class="recipe-author-data">
                                <span class="recipe-author-name"><a href="#">Aiveo</a></span>
                                <span class="recipe-publish-date">13. November 2016</span>
                            </div>
                        </div>
                        <ul class="recipe-share">
                            <li><a
                                    href="https://twitter.com/home?status=https://menulo.de/recipes/sweet-and-sour-chicken-balls/"><i
                                        class="fa fa-twitter"></i></a> </li>
                            <li><a
                                    href="https://www.facebook.com/sharer/sharer.php?u=https://menulo.de/recipes/sweet-and-sour-chicken-balls/"><i
                                        class="fa fa-facebook"></i></a> </li>
                            <li><a
                                    href="https://plus.google.com/share?url=https://menulo.de/recipes/sweet-and-sour-chicken-balls/"><i
                                        class="fa fa-google-plus"></i></a> </li>
                            <li><a
                                    href="https://pinterest.com/pin/create/button/?url=https://menulo.de/recipes/sweet-and-sour-chicken-balls/"><i
                                        class="fa fa-pinterest-p"></i></a> </li>
                        </ul>
                    </div>
                    <div class="recipe-post-wrapper">
                        <div class="featured-image-recipe">
                            <div class="featured-image-wrap"><img width="1920" height="1280"
                                    src="static/wp-content/uploads/2020/07/l1.jpg"
                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                    srcset="static/wp-content/uploads/2020/07/l1.jpg 1920w, static/wp-content/uploads/2020/07/l1-300x200.jpg 300w, static/wp-content/uploads/2020/07/l1-768x512.jpg 768w, static/wp-content/uploads/2020/07/l1-1024x683.jpg 1024w, static/wp-content/uploads/2020/07/l1-650x433.jpg 650w, static/wp-content/uploads/2020/07/l1-250x167.jpg 250w, static/wp-content/uploads/2020/07/l1-120x80.jpg 120w"
                                    sizes="(max-width: 1920px) 100vw, 1920px" /></div>
                        </div>
                        <div class="recipe-post">
                            <h1 class="single-recipe-title text-center">Avocado de Verdura</h1>
                            <div class="recipe-content">
                                <p>Serviert im Glas, Avocado-Salat auf Tomaten, rote Zwiebeln, garniert mit Nachos und
                                    Sour Cream</p>
                            </div>
                        </div>
                        <div class="custom_content">
                            <div class="recipe-post_content">
                                <div class="single-recipe-price text-left">
                                    6,90 € </div>
                                <div class="recipes_info">
                                    <p>Nr. 135 – A|Z 10</p>
                                    <p>Allergene</p>
                                    <p>a) Weizen b) Krebstiere c) Eier d) Fische<br />
                                        e) Erdnüsse f) Milch/Laktose g) Pistazien<br />
                                        h) Haselnüsse i) Senf j) Sesamsamen<br />
                                        k) Weichtiere l) Sellerie m) Soja</p>
                                    <p>Zusatzstoffe</p>
                                    <p>1) mit Farbstoff 2) mit Konservierungsstoffe3) mit Antioxidationsmittel 4)
                                        geschwefelt 5) mit Geschmacksverstärker 6) geschwärzt 7) mit Phosphat 9) mit
                                        Süßungsmittel</p>
                                </div>
                            </div>
                        </div>
                        <div class="recipe-ingredient-wrap recipe-img-con"
                            style="background-image: url('static/wp-content/uploads/2020/07/l1.jpg');">
                            <div class="row">
                                <div class="narrow-full col-xs-6 col-sm-12 col-md-6 col-lg-4 recipe-ingredient">
                                    <h4 class="recipe-ingredient-title">Ingredient</h4>
                                    <ul>
                                        <li>
                                            <div class="ingredient-count number">1/2</div>
                                            <div class="ingredient-name">Kilogram Rosogollar Roser chinir ros</div>
                                        </li>
                                        <li>
                                            <div class="ingredient-count number">3</div>
                                            <div class="ingredient-name">Sapien risus a quam</div>
                                        </li>
                                        <li>
                                            <div class="ingredient-count number">18</div>
                                            <div class="ingredient-name">Cup Donec lobortis risus</div>
                                        </li>
                                        <li>
                                            <div class="ingredient-count number">4</div>
                                            <div class="ingredient-name">Urpis et commodo pharetra</div>
                                        </li>
                                        <li>
                                            <div class="ingredient-count number">2</div>
                                            <div class="ingredient-name">Cup of testy salt</div>
                                        </li>
                                    </ul>
                                    <div class="recipe-time"><i class="fa fa-clock-o"></i> <span class="number">20m to
                                            25m</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="recipe-single-tag">
                            Tags: <a href="tag/chicken.html" rel="tag">chicken</a>, <a href="tag/spicy.html"
                                rel="tag">spicy</a> </div>
                        <div class="recipe-step">
                            <h4 class="recipe-ingredient-title">Preparetion</h4>
                            <div id="accordion">
                            </div>
                        </div>
                    </div>
                    <div id="comments" class="comments-area">
                        <div class="comment-counts mg-top-45">
                            <h3 class="comment-title number">
                                No Comment </h3>
                            <a href="#commentform" class="btn-style-3">Leave a Comment</a>
                        </div>
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-title">Schreibe einen Kommentar <small><a rel="nofollow"
                                        id="cancel-comment-reply-link" href="index.html#respond"
                                        style="display:none;">Antworten abbrechen</a></small></h3>
                            <form action="index.html" method="post" id="commentform" class="comment-form"><input
                                    id="author" name="author" type="text" class="form-control input-style-1 input-half"
                                    placeholder="Name" value="" aria-required='true' required />
                                <input id="email" name="email" type="text"
                                    class="form-control input-style-1 input-half last" placeholder="Email Address"
                                    value="" aria-required='true' required />
                                <input id="url" name="url" type="text" class="form-control input-style-1"
                                    placeholder="Website URL" value="" />
                                <textarea autocomplete="new-password" id="hd2e6bb4df" name="hd2e6bb4df"
                                    class="form-control textarea-style-1" placeholder="Kommentar schreiben..." cols="5"
                                    rows="2" aria-required='true' required></textarea><textarea id="comment"
                                    aria-hidden="true" name="comment" autocomplete="new-password"
                                    style="padding:0;clip:rect(1px, 1px, 1px, 1px);position:absolute !important;white-space:nowrap;height:1px;width:1px;overflow:hidden;"
                                    tabindex="-1"></textarea>
                                <script data-noptimize
                                    type="text/javascript">document.getElementById("comment").setAttribute("id", "aa1bd35ba011f444ee602fcb00d1b83d"); document.getElementById("hd2e6bb4df").setAttribute("id", "comment");</script>
                                <p class="form-submit"><input name="submit" type="submit" id="submit"
                                        class="btn-style-2" value="KOMMENTIERE JETZT" /> <input type='hidden'
                                        name='comment_post_ID' value='165' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </p>
                                <p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="216" />
                                </p>
                            </form>
                        </div><!-- #respond -->
                    </div><!-- .comments-area -->
                </div>
            </div>
            <!-- Sidebar -->
            <!-- Sidebar -->
            <div class="col-lg-3 col-md-4 col-sm-5 sidebar-right">
                <div id="search-2" class="rc-widget-area main-sidebar widget_search">
                    <form role="search" method="get" id="searchform" class="searchform" action="index.html">
                        <div>
                            <label class="screen-reader-text" for="s">Suche nach:</label>
                            <input type="text" value="" name="s" id="s" />
                            <input type="submit" id="searchsubmit" value="Suche" />
                        </div>
                    </form>
                </div>
                <div id="recent-posts-2" class="rc-widget-area main-sidebar widget_recent_entries">
                    <h3 class="widget-title">Neueste Beiträge</h3>
                    <ul>
                        <li>
                            <a href="1-qr-code.html">1 &#8211; QR-Code</a>
                        </li>
                        <li>
                            <a href="2-speisekarte.html">2 &#8211; Speisekarte</a>
                        </li>
                        <li>
                            <a href="3-zusammenstellen.html">3 &#8211; Zusammenstellen</a>
                        </li>
                        <li>
                            <a href="4-bestellen.html">4 &#8211; Produkte bewerten</a>
                        </li>
                    </ul>
                </div>
                <div id="recent-comments-2" class="rc-widget-area main-sidebar widget_recent_comments">
                    <h3 class="widget-title">Neueste Kommentare</h3>
                    <ul id="recentcomments"></ul>
                </div>
                <div id="archives-2" class="rc-widget-area main-sidebar widget_archive">
                    <h3 class="widget-title">Archive</h3>
                    <ul>
                        <li><a href='2017/06.html'>Juni 2017</a></li>
                        <li><a href='index.html'>November 2016</a></li>
                    </ul>
                </div>
                <div id="categories-2" class="rc-widget-area main-sidebar widget_categories">
                    <h3 class="widget-title">Kategorien</h3>
                    <ul>
                        <li class="cat-item cat-item-1"><a href="index.html">Allgemein</a>
                        </li>
                    </ul>
                </div>
                <div id="meta-2" class="rc-widget-area main-sidebar widget_meta">
                    <h3 class="widget-title">Meta</h3>
                    <ul>
                        <li><a href="index.html">Anmelden</a></li>
                        <li><a href="index.html">Feed der Einträge</a></li>
                        <li><a href="index.html">Kommentare-Feed</a></li>
                        <li><a href="https://de.wordpress.org/">WordPress.org</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cli-modal-backdrop cli-fade cli-settings-overlay"></div>
<div class="cli-modal-backdrop cli-fade cli-popupbar-overlay"></div>
{% endblock %}