{% extends 'admin/base_site.html' %}
{% load static %}

{% block branding %}

{% block extrastyle %}
  <link rel='stylesheet' href='{% static '/main/css/admin.css' %}'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7GMJEYVSPT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H5Z4Y334TZ');
</script>
{% endblock %}

<h1 = 'head'>
    
<img src="{% static '/main/images/menulo_logo_header_white_s50.png' %}" alt="menulo_logo" class="brand_img" height="30" width="93">
    

  </h1>
{% endblock %}