{% extends "layout/baseDashboard.html" %}
{% load static %}
{% block content %}
<style type="text/css">
 
</style>




<section id="content-wrapper"  >
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-9">
          <h2 class="content-title text-light">Anpassen der Speisen (Preis)</h2>
        </div>
        <div class="col-lg-3">
          <!-- <form method="GET" action="" id="searchform">
            <input class="searchfield bg-dark text-light" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
            <button onclick="toggleClock()" id="clockButton">Search</button>
        </form> -->
        </div>
      </div>
      
      <div class="card bg-dark p-2">
        <div class="table-responsive">
        <table class="table  table-dark main" id="main">
          <thead>
            <tr>
              <th scope="col">Nr.</th>
              <th scope="col">Bild</th>
              <th scope="col">Name</th>
              <th scope="col" >Preis</th>
             
            </tr>
          </thead>
          <tbody>
            {% for item in dishes %}
            {% for c in item.catoegory_topics.all %}
            {% for sc in c.sub_cat_categories.all %}
            {% for item in sc.dish_sub_categories.all %}
            <tr>
              <form method="post"> 
                {% csrf_token %}
                  <th scope="row" style="vertical-align:middle;width: 10%">{{ item.id }}</th>
                  {% if item.image %}
                  <td style="vertical-align:middle;width: 10%"><img src="{{item.image.img.url}}" alt="" border=3 height=50 width=50></img></td>
                  {% else %}                  
                  <td style="vertical-align:middle;width: 10%"><img src="{% static 'main/images/menulo_bilder-folgen-dark-150x150xc.jpg' %}" alt="" border=3 height=50 width=50></img></td>
                  {% endif %}
                  <td style="vertical-align:middle;width: 30%">{{item.title}}</td>
                  <td style="vertical-align:middle;width: 40%">
                    {% if item.price != None %}
                      {% if rest.dish_access %}
                        <div contenteditable class="ml-2" >                  
                            <input class="bg-dark text-light" type="text" name="price" value= "{{ item.price }}" />
                            <input type="hidden" value= "{{ item.id }}" name="id" />              
                        </div><button type="submit" value="edit" class="btn btn-sm mt-2 ml-2" style="background: #e41e26;color: white;">Update</button>
                      {% else %}
                        {{ item.price }}
                      {% endif %}
                    {% endif %}
                    {% if item.price == None %}
                    
                    <table class="table-dark">
                      <thead>
                        
                        <tr>
                          {% for p in item.size_dishs.all %}
                          <th scope="col">{{p.size}}</th>
                          {% endfor %}
                        </tr>
                        
                      </thead>
                      <tbody>
                        <tr>
                          {% for s in item.size_dishs.all %}
                          
                          <td>
                            <form method="post"> 
                              {% csrf_token %}
                              {% if rest.dish_access %}
                            <div contenteditable >                  
                              <input class="bg-dark text-light" type="text" name="sprice" value= {{ s.price }} style="
                              width: 70px;
                          "/>
                              <input type="hidden" value= {{ s.id }} name="spid" />  </br> 
                              <button type="submit" value="edit" class="btn btn-sm  mt-2" style="background: #e41e26;color: white;">Update</button>           
                            </div>
                            {% else %}
                        {{ s.price }}
                      {% endif %}
                            
                              
                            
                          </form>     
                          </td>
                          
                          
                          {% endfor %}
                        </tr>
                        
                        </tbody>
                    </table>
                    
                    {% endif %}
                  </td>
                 
                 
                   
              </form>             
            </tr>
           {% endfor %}
           {% endfor %}
           {% endfor %}
           {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
     
    </div>
  </div>
 
</section>
{% endblock %}