{% extends "layout/BaseLayout.html" %}
{% load static %}

{% block content %}
{% include "components/Loader.html" %}
<div data-rsssl="1" class="home page-template page-template-template-fullwidth page-template-template-fullwidth-php page page-id-1691 kingcomposer kc-css-system woocommerce-checkout woocommerce-page" cz-shortcut-listen="true">

	<link href="https://fonts.googleapis.com/css?family=Raleway%3A900%2C700" rel="stylesheet" property="stylesheet"
		type="text/css" media="all" />
<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery"
	style="padding:0px;">
	<!-- START SLIDER fullscreen mode -->
	<div id="rev_slider_4_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
		<ul>
			<!-- SLIDE  -->
			
			<li data-index="rs-10" data-transition="random-static" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
				
				data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
				data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
				data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				{% if home %}
				<img src="{{ home.slider1.img.url }}" alt=""
					title="home_slide1_iphonex_1_menulo_aiveo" width="1920" height="1278"
					data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off"
					class="rev-slidebg" data-no-retina>
					{% endif %}
				<!-- LAYERS -->
				<!-- LAYER NR. 1 -->
				<div class="tp-caption redchili-slide-title   tp-resizeme  slide-title" id="slide-10-layer-1"
					data-x="['left','left','center','center']" data-hoffset="['10','10','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['-150','-150','-150','-150']"
					data-fontsize="['60','60','80','53']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['right','right','right','right']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 5; white-space: nowrap;border-width:0px 0px 0px 0px;">{% if home %}{{ home.slider1_text1|safe }} {% endif %}</div>
				<!-- LAYER NR. 2 -->
				<div class="tp-caption redchili-slide-title   tp-resizeme  slide-title" id="slide-10-layer-2"
					data-x="['left','left','center','center']" data-hoffset="['10','10','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-80','-80']"
					data-fontsize="['60','60','80','53']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['right','right','right','right']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 6; white-space: nowrap;border-width:0px 0px 0px 0px;">{% if home %}{{ home.slider1_text2|safe }} {% endif %}</div>
				<!-- LAYER NR. 3 -->
				<div class="tp-caption rc-slide-caption-2   tp-resizeme  slide-caption-2" id="slide-10-layer-3"
					data-x="['left','left','center','center']" data-hoffset="['10','10','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['18','18','28','18']" data-width="['212','212','none','none']"
					data-height="['19','19','none','none']" data-whitespace="nowrap" data-type="text"
					data-responsive_offset="on"
					data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 7; min-width: 212px; max-width: 212px; max-width: 19px; max-width: 19px; white-space: nowrap;border-width:0px 0px 0px 0px;">
					{% if home %}{{ home.slider1_text3|safe }} {% endif %}</div>
				<!-- LAYER NR. 4 -->
				<a class="tp-caption a-slide-btn   tp-resizeme" href="#home_s1" target="_self" id="slide-10-layer-4"
					data-x="['left','left','center','center']" data-hoffset="['10','10','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
					data-fontsize="['16','16','26','16']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-actions='' data-responsive_offset="on"
					data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']" data-paddingtop="[20,20,20,20]"
					data-paddingright="[30,30,30,30]" data-paddingbottom="[20,20,20,20]"
					data-paddingleft="[30,30,30,30]"
					style="z-index: 8; white-space: nowrap;border-width:1px 1px 1px 1px;">{% if home %}{{home.button1_text|safe}} {% endif %}<i
						class="fa-icon-angle-double-down"></i> </a>
			</li>
			
			<!-- SLIDE  -->
			<li data-index="rs-11" data-transition="random-static" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
				data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
				data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
				data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				{% if home %}
				<img src="{{ home.slider2.img.url }}" alt=""
					title="home_slide2_iphonex_1_menulo_aiveo" width="1920" height="1278"
					data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off"
					class="rev-slidebg" data-no-retina>
					{% endif %}
				<!-- LAYERS -->
				<!-- LAYER NR. 5 -->
				<div class="tp-caption redchili-slide-title   tp-resizeme  slide-title" id="slide-11-layer-1"
					data-x="['left','left','center','center']" data-hoffset="['10','10','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['-150','-150','-150','-150']"
					data-fontsize="['60','60','80','53']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['right','right','right','right']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 5; white-space: nowrap;border-width:0px 0px 0px 0px;">{% if home %}{{ home.slider2_text1|safe }} {% endif %}</div>
				<!-- LAYER NR. 6 -->
				<div class="tp-caption redchili-slide-title   tp-resizeme  slide-title" id="slide-11-layer-2"
					data-x="['left','left','center','center']" data-hoffset="['10','10','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-80','-80']"
					data-fontsize="['60','60','80','53']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['right','right','right','right']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 6; white-space: nowrap;text-transform:uppercase;border-width:0px 0px 0px 0px;">
					{% if home %}{{ home.slider2_text2|safe }} {% endif %}</div>
				<!-- LAYER NR. 7 -->
				<div class="tp-caption rc-slide-caption-2   tp-resizeme  slide-caption-2" id="slide-11-layer-3"
					data-x="['left','left','center','center']" data-hoffset="['10','10','5','5']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['18','18','28','18']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 7; white-space: nowrap;border-width:0px 0px 0px 0px;">{% if home %}{{ home.slider2_text3|safe }} {% endif %}</div>
				<!-- LAYER NR. 8 -->
				<a class="tp-caption a-slide-btn   tp-resizeme" href="#home_s2" target="_self" id="slide-11-layer-4"
					data-x="['left','left','center','center']" data-hoffset="['10','10','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
					data-fontsize="['16','16','26','16']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-actions='' data-responsive_offset="on"
					data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']" data-paddingtop="[20,20,20,20]"
					data-paddingright="[30,30,30,30]" data-paddingbottom="[20,20,20,20]"
					data-paddingleft="[30,30,30,30]"
					style="z-index: 8; white-space: nowrap;border-width:1px 1px 1px 1px;">{% if home %}{{ home.button2_text|safe }} {% endif %} <i
						class="fa-icon-angle-double-down"></i> </a>
			<!-- </li> -->
		</ul>
		<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
			if (htmlDiv) {
				htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
			} else {
				var htmlDiv = document.createElement("div");
				htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
				document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
			}
		</script>
		<div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>
	</div>
	
</div><!-- END REVOLUTION SLIDER -->
<div class="clearfix"></div>
<div class="page-builder page-single pd-top-80 post-1691 page type-page status-publish hentry">
	<div class="kc_clfw"></div>
	<div class="kc-elm kc-css-633637 kc_row">
		<div class="kc-row-container  kc-container">
			<div class="kc-wrap-columns">
				<div class="kc-elm kc-css-35359 kc_col-sm-12 kc_column kc_col-sm-12">
					<div class="kc-col-container"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="home_s1" class="kc-elm kc-css-483029 kc_row">
		<div class="kc-row-container  kc-container">
			<div class="kc-wrap-columns">
				<div class="kc-elm kc-css-574907 kc_col-sm-12 kc_column kc_col-sm-12">
					<div class="kc-col-container">
						<div class="kc-elm kc-css-739780 kc_text_block">
							{% if welcome %}
							<p>{{welcome}}</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kc-elm kc-css-392550 kc_row">
		<div class="kc-row-container">
			<div class="kc-wrap-columns">
				<div class="kc-elm kc-css-949731 kc_col-sm-12 kc_column kc_col-sm-12">
					<div class="kc-col-container">
						<div class="redchili-latestblog">
							<div class="row">
								<div class="col-xs-12 col-sm-6 equal-height-wrap latest-blog" >
									<div class="featured-image equal-height-inner"
										style="background-image: url({{home.img1.img.url}});">
									</div>
									<div class="featured-content equal-height-inner">
										<div class="featured-icon icon-left"><i class="fa fa-cutlery"></i></div>
										{% if home %}
										<h2 class="blog-title">{{home.title_text1}}</h2>
										<p>{{home.desc_text1}}</p><a class="readmore"
											href="/">Read More <i class="fa fa-long-arrow-right"></i></a>
										{% endif %}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 equal-height-wrap latest-blog" >
									<div class="featured-image equal-height-inner"
										style="background-image: url({{home.img2.img.url}});">
									</div>
									<div class="featured-content equal-height-inner">
										<div class="featured-icon icon-left"><i class="fa fa-cutlery"></i></div>
										{% if home %}
										<h2 class="blog-title">{{home.title_text2}}
										</h2>
										<p>{{home.desc_text2}}</p><a class="readmore"
											href="/">Read More <i
												class="fa fa-long-arrow-right"></i></a>
												{% endif %}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 equal-height-wrap latest-blog bottom-side" >
									<div class="featured-content equal-height-inner">
										<div class="featured-icon icon-right"><i class="fa fa-cutlery"></i></div>
										{% if home %}
										<h2 class="blog-title">{{home.title_text3}}</h2>
										<p>{{home.desc_text3}}</p><a class="readmore" href="/">Read More <i
												class="fa fa-long-arrow-right"></i></a>
												{% endif %}
									</div>
									<div class="featured-image equal-height-inner"
										style="background-image: url({{home.img3.img.url}});">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 equal-height-wrap latest-blog bottom-side" >
									<div class="featured-content equal-height-inner">
										<div class="featured-icon icon-right"><i class="fa fa-cutlery"></i></div>
										{% if home %}
										<h2 class="blog-title">{{home.title_text4}}</h2>
										<p>{{home.desc_text4}}</p><a class="readmore"
											href="/">Read More <i class="fa fa-long-arrow-right"></i></a>
											{% endif %}
											
									</div>
									<div class="featured-image equal-height-inner"
										style="background-image: url({{home.img4.img.url}});">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="home_s2" class="kc-elm kc-css-87822 kc_row">
		<div class="kc-row-container  kc-container">
			<div class="kc-wrap-columns">
				<div class="kc-elm kc-css-567684 kc_col-sm-12 kc_column kc_col-sm-12">
					<div class="kc-col-container">
						<div class="redchili-call-to-action bg-1 pd-top-45 pd-bottom-45 ">
							<div class="row">
								<div class="col-sm-12">
									<div class="call-to-action-wrapper">
										<div class="support-action-wrapper"><img class="retina hidden-xs"
												src="{%static 'main/images/support.png' %}"
												alt="support" />
											<h2>menulo</h2>
											{% if home %}
											<p>{{home.bottom_text}}</p>
											{% endif %}
										</div><a href="/kontakt" class="btn-call-to-action">KONTAKTIEREN SIE UNS</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="cli-modal-backdrop cli-fade cli-settings-overlay"></div>
<div class="cli-modal-backdrop cli-fade cli-popupbar-overlay"></div>
</div>
{% endblock %}