<footer class="footer">
    
   <!-- Footer Widget -->
	<div class="redchili-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-4 footer-widget-1">
				</div>
				<div class="col-md-4 col-sm-8 footer-widget-2">
				</div>
				<div class="col-md-3 col-sm-6 footer-widget-3">
				</div>
				<div class="col-md-3 col-sm-6 footer-widget-4">
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Bottom -->
	<div class="redchili-footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="copyright">
						<div class="menu-footer-menu-container">
							<ul id="menu-footer-menu" class="footer-link">
								<li id="menu-item-819"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-819"><a
										href="/kontakt">Kontakt</a></li>
								<li id="menu-item-3464"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3464"><a
										href="/agb">AGB</a></li>
								<li id="menu-item-3460"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3460"><a
										href="/datenschutz">Datenschutz</a></li>
								<li id="menu-item-818"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-818"><a
										href="/impressum">Impressum</a></li>
							</ul>
						</div>
						<p>
							© 2020 Menulo - Alle Rechte vorbehalten </p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="social-footer right">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--googleoff: all-->
	<div id="cookie-law-info-bar">
		<h5 class="cli_messagebar_head">COOKIES AUF MENULO</h5><span>Wir nutzen Cookies, auch von Dittanbietern. Diese
			helfen uns unsere Webseite stets zu verbessern und die Nutzung unserer Webseite für Sie zu optimieren. Durch
			Klick auf "Alle Cookies akzeptieren" erklären Sie sich damit einverstanden das alle Cookies zugelassen
			werden. Sie können Ihre Einwilligung jederzeit widerrufen und anpassen. Weitere Informationen zu den Cookies
			und Anpassungsmöglichkeiten finden Sie unter dem Button "Details anzeigen". <a role='button' tabindex='0'
				class="medium cli-plugin-button cli-plugin-main-button cli_settings_button">Details anzeigen</a> <a
				role='button' tabindex='0' data-cli_action="accept" id="cookie_action_close_header"
				class="medium cli-plugin-button cli-plugin-main-button cookie_action_close_header cli_action_button"
				style="display:inline-block; ">Alle Cookies akzeptieren</a></span>
	</div>
	<div id="cookie-law-info-again" style="display:none;"><span id="cookie_hdr_showagain">Cookies</span></div>
	<div class="cli-modal" id="cliSettingsPopup" tabindex="-1" role="dialog" aria-labelledby="cliSettingsPopup"
		aria-hidden="true">
		<div class="cli-modal-dialog" role="document">
			<div class="cli-modal-content cli-bar-popup">
				<button type="button" class="cli-modal-close" id="cliModalClose">
					<svg class="" viewBox="0 0 24 24">
						<path
							d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z">
						</path>
						<path d="M0 0h24v24h-24z" fill="none"></path>
					</svg>
					<span class="wt-cli-sr-only">Schließen</span>
				</button>
				<div class="cli-modal-body">
					<div class="cli-container-fluid cli-tab-container">
						<div class="cli-row">
							<div class="cli-col-12 cli-align-items-stretch cli-px-0">
								<div class="cli-privacy-overview">
									<h4>Cookies auf Menulo</h4>
									<div class="cli-privacy-content">
										<div class="cli-privacy-content-text">Wir nutzen Cookies, auch von
											Dittanbietern. Diese helfen uns unsere Webseite stets zu verbessern und die
											Nutzung unserer Webseite für Sie zu optimieren. Durch Klick auf "Alle
											Cookies akzeptieren" erklären Sie sich damit einverstanden das alle Cookies
											zugelassen werden. Sie können Ihre Einwilligung jederzeit widerrufen und
											anpassen.<br />
											<br />
											<strong>Cookie-Richtlinie</strong><br />
											Diese Cookie-Richtlinie erklärt, was Cookies sind und wie wir sie verwenden.
											Sie sollten diese Richtlinie lesen, um zu verstehen, was Cookies sind, wie
											wir sie verwenden, welche Arten von Cookies wir verwenden, welche
											Informationen wir mit Cookies sammeln, wie diese Informationen verwendet
											werden und wie die Cookie-Einstellungen gesteuert werden. Weitere
											Informationen darüber, wie wir Ihre persönlichen Daten verwenden, speichern
											und schützen, finden Sie in unseren Datenschutzbestimmungen.<br />
											<br />
											Sie können Ihre Einwilligung in die Cookie-Erklärung auf unserer Website
											jederzeit ändern oder widerrufen.<br />
											<br />
											Erfahren Sie in unseren Datenschutzbestimmungen, wer wir sind, wie Sie mit
											uns in Kontakt treten können und wie wir personenbezogene Daten
											verarbeiten.<br />
											<br />
											Ihre Einwilligung gilt für folgende Domain: www.menulo.de<br />
											<br />
											<strong>Cookies</strong><br />
											Cookies sind Textdateien, die automatisch bei dem Aufruf einer Webseite
											lokal im Browser des Besuchers abgelegt werden. Diese Website setzt Cookies
											ein, um das Angebot nutzerfreundlich und funktionaler zu gestalten. Dank
											dieser Dateien ist es beispielsweise möglich, auf individuelle Interessen
											abgestimmte Informationen auf einer Seite anzuzeigen. Auch
											Sicherheitsrelevante Funktionen zum Schutz Ihrer Privatsphäre werden durch
											den Einsatz von Cookies ermöglicht. Der ausschließliche Zweck besteht also
											darin, unser Angebot Ihren Kundenwünschen bestmöglich anzupassen und die
											Seiten-Nutzung so komfortabel wie möglich zu gestalten. Mit Anwendung der
											DSGVO 2018 sind Webmaster dazu verpflichtet, der unter
											https://eu-datenschutz.org/ veröffentlichten Grundverordnung Folge zu
											leisten und seine Nutzer entsprechend über die Erfassung und Auswertung von
											Daten in Kenntnis zu setzen. Die Rechtmäßigkeit der Verarbeitung ist in
											Kapitel 2, Artikel 6 der DSGVO begründet.<br />
											<br />
											Die gespeicherten Cookies können für jede Website eingesehen und verwaltet
											werden:<br />
											Chrome: Klicken Sie oben neben der Adresszeile auf das Schloss (bei
											SSL-zertifizierten Seiten) bzw. das Informations-Symbol (i). Wählen Sie
											[Zahl] werden verwendet.<br />
											Firefox: Klicken Sie links oben neben der Webadresse auf das Symbol. Folgen
											Sie dem Klickfeld nach rechts und wählen Sie „Weitere Informationen“. Die
											Cookie-Verwaltung befindet sich unter „Datenschutz &amp; Chronik“<br />
											Internet-Explorer: Wählen Sie hinter dem Zahnrad-Symbol die Schaltfläche
											„Extras“ &gt; „Internetoptionen“. Klicken Sie die Registerkarte
											„Datenschutz“. Unter Einstellungen finden Sie den Punkt „Erweitert“ mit den
											Verwaltungsoptionen für Cookies.<br />
											<br />
											<strong>Wie verwenden wir Cookies ?</strong><br />
											Wie die meisten Online-Dienste bzw. Webseiten verwendet unsere Webseite
											ebenfalls Cookies, auch von Drittanbietern. Die Cookies dir unsere Webseite
											verwendet sind in der Regel erforderlich, damit die Website ordnungsgemäß
											funktioniert und erfassen keine Ihrer personenbezogenen Daten.<br />
											<br />
											Die Cookies von Drittanbietern, die auf unseren Websites verwendet werden,
											dienen in erster Linie dazu, die Leistung der Webseite, die Interaktion mit
											unserer Webseite, die Sicherheit unserer Dienste und die Bereitstellung von
											für Sie relevanten Angebote zu verstehen und zu verbessern.<br />
											<br />
											<strong>Welche Arten von Cookies verwenden wir ?</strong><br />
											<strong>Nowendig:</strong> Einige Cookies sind wichtig, damit Sie die volle
											Funktionalität unserer Website nutzen können. Sie ermöglichen
											Grundfunktionen wie Navigation. Ohne diese Cookies kann die Webseite nicht
											rihtig funktionieren.<br />
											<br />
											<strong>Statistik:</strong> Diese Cookies speichern Informationen wie die
											Anzahl der Besucher der Website, die Anzahl der eindeutigen Besucher, welche
											Seiten der Website besucht wurden, die Quelle des Besuchs usw.. Diese Daten
											helfen uns zu verstehen und zu analysieren, wie gut die Website funktioniert
											und wo es verbesserungsbedürftig ist.<br />
											<br />
											<strong>Marketing:</strong> Auf unserer Website werden Anzeigen geschaltet.
											Diese Cookies werden verwendet, um die Werbung, die wir Ihnen zeigen, so zu
											personalisieren, dass sie für Sie von Bedeutung ist. Diese Cookies helfen
											uns auch dabei, die Effizienz dieser Werbekampagnen im Auge zu
											behalten.<br />
											<br />
											Die in diesen Cookies gespeicherten Informationen können auch von
											Drittanbietern verwendet werden, um Ihnen Anzeigen auf anderen Websites im
											Browser zu schalten.<br />
											<br />
											<strong>Funktional:</strong> Dies sind die Cookies, die bestimmte nicht
											wesentliche Funktionen auf unserer Website unterstützen. Diese Funktionen
											umfassen das Einbetten von Inhalten wie Videos oder das Teilen von Inhalten
											auf der Website auf Social Media-Plattformen.<br />
											<br />
											<strong>Einstellungen:</strong> Diese Cookies helfen uns dabei, Ihre
											Einstellungen und Browsereinstellungen wie Spracheinstellungen zu speichern,
											damit Sie bei zukünftigen Besuchen der Website eine bessere und effizientere
											Erfahrung machen können.<br />
											<br />
											<table class="cookielawinfo-row-cat-table cookielawinfo-classic">
												<thead>
													<tr>
														<th class="cookielawinfo-column-1">Cookie</th>
														<th class="cookielawinfo-column-4">Beschreibung</th>
													</tr>
												</thead>
												<tbody>
													<tr class="cookielawinfo-row">
														<td colspan="4" class="cookielawinfo-column-empty">Keine
															Datensätze gefunden</td>
													</tr>
												</tbody>
											</table><br />
											<br />
											<strong>Wie kann ich die Cookie-Einstellungen steuern ?</strong><br />
											Wenn Sie Ihre Einstellungen später während Ihrer Browsersitzung ändern
											möchten, können Sie auf Ihrem Bildschirm auf die Registerkarte "Datenschutz"
											klicken. Unter Cookie Richtlinie finden Sie den Button "Verwalte deine
											Einwilligung". Daraufhin wird erneut der Zustimmungshinweis angezeigt, mit
											dem Sie Ihre Einstellungen ändern oder Ihre Zustimmung vollständig
											widerrufen können.<br />
											<br />
											Darüber hinaus bieten verschiedene Browser verschiedene Methoden zum
											Blockieren und Löschen von Cookies, die von Websites verwendet werden. Sie
											können die Einstellungen Ihres Browsers so ändern, dass Cookies
											blockiert/gelöscht werden.
										</div>
									</div>
									<a class="cli-privacy-readmore" data-readmore-text="Mehr anzeigen"
										data-readless-text="Weniger anzeigen"></a>
								</div>
							</div>
							<div class="cli-col-12 cli-align-items-stretch cli-px-0 cli-tab-section-container">
								<div class="cli-tab-section">
									<div class="cli-tab-header">
										<a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile"
											data-target="necessary" data-toggle="cli-toggle-tab">
											Notwendig </a>
										<div class="wt-cli-necessary-checkbox">
											<input type="checkbox" class="cli-user-preference-checkbox"
												id="wt-cli-checkbox-necessary" data-id="checkbox-necessary"
												checked="checked" />
											<label class="form-check-label"
												for="wt-cli-checkbox-necessary">Notwendig</label>
										</div>
										<span class="cli-necessary-caption">immer aktiv</span>
									</div>
									<div class="cli-tab-content">
										<div class="cli-tab-pane cli-fade" data-id="necessary">
											<p>Notwendig: Notwendige Cookies sind für das reibungslose Funktionieren der
												Website unbedingt erforderlich. Diese Cookies ermöglichen die
												grundlegende Funktionen und subd dazu da, die Sicherheitsmerkmale der
												Webseite zu gewährleisten. Ohne diese Cookies kann die Webseite nicht
												rihtig funktionieren.</p>
										</div>
									</div>
								</div>
								<div class="cli-tab-section">
									<div class="cli-tab-header">
										<a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile"
											data-target="non-necessary" data-toggle="cli-toggle-tab">
											Nicht notwendig </a>
										<div class="cli-switch">
											<input type="checkbox" id="wt-cli-checkbox-non-necessary"
												class="cli-user-preference-checkbox" data-id="checkbox-non-necessary"
												checked='checked' />
											<label for="wt-cli-checkbox-non-necessary" class="cli-slider"
												data-cli-enable="Aktiviert" data-cli-disable="Deaktiviert"><span
													class="wt-cli-sr-only">Nicht notwendig</span></label>
										</div>
									</div>
									<div class="cli-tab-content">
										<div class="cli-tab-pane cli-fade" data-id="non-necessary">
											<p>
											<p><b>Statistik:</b> Diese Cookies speichern Informationen wie die Anzahl
												der Besucher der Website, die Anzahl der eindeutigen Besucher, welche
												Seiten der Website besucht wurden, die Quelle des Besuchs usw.. Diese
												Daten helfen uns zu verstehen und zu analysieren, wie gut die Website
												funktioniert und wo es verbesserungsbedürftig ist.</p>
											<p><b>Marketing:</b> Auf unserer Website werden Anzeigen geschaltet. Diese
												Cookies werden verwendet, um die Werbung, die wir Ihnen zeigen, so zu
												personalisieren, dass sie für Sie von Bedeutung ist. Diese Cookies
												helfen uns auch dabei, die Effizienz dieser Werbekampagnen im Auge zu
												behalten. Die in diesen Cookies gespeicherten Informationen können auch
												von Drittanbietern verwendet werden, um Ihnen Anzeigen auf anderen
												Websites im Browser zu schalten.</p>
											<p><b>Funktional:</b> Dies sind die Cookies, die bestimmte nicht wesentliche
												Funktionen auf unserer Website unterstützen. Diese Funktionen umfassen
												das Einbetten von Inhalten wie Videos oder das Teilen von Inhalten auf
												der Website auf Social Media-Plattformen.</p>
											<p><b>Einstellungen:</b> Diese Cookies helfen uns dabei, Ihre Einstellungen
												und Browsereinstellungen wie Spracheinstellungen zu speichern, damit Sie
												bei zukünftigen Besuchen der Website eine bessere und effizientere
												Erfahrung machen können.</p>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</footer>

